x-kompass:
    &kompass
    image: kompass:development
    build:
        context: ./../../
        dockerfile: docker/development/Dockerfile
        args:
            UID: ${UID}
            GID: ${UID}
            USER: ${USER}
    env_file: docker.env
    restart: always
    depends_on:
      - redis
      - cache
      - db

services:
    master:
        <<: *kompass
        entrypoint: /app/docker/development/entrypoint-master.sh
        stdin_open: true
        tty: true
        volumes:
          - ./../../jdav_web:/app/jdav_web
          - ./../../docs:/app/docs
          - ./media:/app/media
        ports:
          - "8000:8000"

    cache:
        restart: always
        image: memcached:alpine

    redis:
        restart: always
        image: redis:6-alpine

    db:
        restart: always
        image: mariadb
        volumes:
          - ./db:/var/lib/mysql
          - ./provision/mysql/init:/docker-entrypoint-initdb.d
        env_file: docker.env
