DJANGO_ALLOWED_HOST='*'
DJANGO_BASE_URL='localhost:8000'
DJANGO_PROTOCOL='http'

EMAIL_HOST='example.com'
EMAIL_HOST_USER='foo@example.com'
EMAIL_HOST_PASSWORD='password'
EMAIL_SENDING_ADDRESS='foo@example.com'
EMAIL_SENDING_NAME='My association'

DOMAIN='example.com'

DJANGO_DEPLOY=1
DJANGO_DEBUG=1

DJANGO_DATABASE_NAME='kompass'
DJANGO_DATABASE_USER='kompass'
DJANGO_DATABASE_PASSWORD='foobar'
DJANGO_DATABASE_HOST='db'
DJANGO_DATABASE_PORT=3306

MYSQL_ROOT_PASSWORD='secret'
MYSQL_PASSWORD='foobar'
MYSQL_USER='kompass'
MYSQL_DATABASE='kompass'

DJANGO_SETTINGS_MODULE='jdav_web.settings'
DJANGO_STATIC_ROOT='/var/www/jdav_web/assets'

MEMCACHED_URL='cache:11211'
BROKER_URL='redis://redis:6379/0'

SEND_FROM_ASSOCIATION_EMAIL=0
