{% extends "admin/app_index.html" %}

{% block content %}
<div id="content-main">
<div class="app-members module current-app">
<h2>Meine Jugendgruppen</h2>
<p>
Hier siehst du alle von dir geleiteten Jugendgruppen.
</p>
<p>
<table>
    {% for group in user.member.led_groups %}
    <tr>
        <th scope="row">
            <a href='{% url 'admin:members_member_changelist' %}?group__id__exact={{group.pk}}'>{{ group.name }}</a>
        </th>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
</table>
</p>

<br>
<h2>Teilnehmer*innenverwaltung</h2>

<p>
Hier siehst du alle von dir geleiteten Ausfahrten und für dich sichtbare Teilnehmer*innen
(diese sind nicht zwingend in einer deiner Jugendgruppen).
</p>

<table>
    <tr>
        <th scope="row">
            <a href='{% url 'admin:members_freizeit_changelist' %}'>Ausfahrten</a>
        </th>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">
            <a href='{% url 'admin:members_member_changelist' %}'>Alle Teilnehmer*innen</a>
        </th>
        <td></td>
        <td></td>
    </tr>
</table>
{% if perms.members.view_memberunconfirmedproxy %}
<br>
<div class="app-members module current-app">
<h2>Neue Mitglieder</h2>
<p>
{% if perms.member.may_manage_waiting_list %}
Um ein neues Mitglied anzulegen, muss sich die Person
<a href="{% url 'members:register_waiting_list' %}">anmelden</a>. Daraufhin landet
sie auf der <a href="{% url 'admin:members_memberwaitinglist_changelist' %}">Warteliste</a>. Eine
Person auf der Warteliste kannst du dann zu einer Schnupperstunde einer gewählten Gruppe einladen.
Diese Einladung enthält einen Registrierungslink zu einem Formular in dem die Person alle ihre
Stammdaten eingbit. Diese Daten landen dann unter
<a href="{% url 'admin:members_memberunconfirmedproxy_changelist' %}">Unbestätigte Registrierungen</a>.
{% else %}
Ob über die Warteliste oder über ein Registrierungspasswort,
liegt eine neue Registrierung für eine von dir geleitete Jugendgruppe vor, kannst du die hier einsehen
und die Daten prüfen. Falls die Daten vollständig sind, bestätige die Registrierung um die Person in deine
Jugendgruppe aufzunehmen.
{% endif %}
</p>
<table>
    {% if perms.member.may_manage_waiting_list %}
    <tr>
        <th scope="row">
            <a href="{% url 'admin:members_memberwaitinglist_changelist' %}">Warteliste</a>
        </th>
        <td></td>
        <td></td>
    </tr>
    {% endif %}
    <tr>
        <th scope="row">
            <a href="{% url 'admin:members_memberunconfirmedproxy_changelist' %}">Unbestätigte Registrierungen</a>
        </th>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
{% endif %}

{% if perms.members.change_group %}
<br>
<div class="app-members module current-app">
<h2>Gruppenverwaltung</h2>
<p>
Hier kannst du Gruppen anlegen und ändern.
</p>
<table>
    <tr>
        <th scope="row">
            <a href="{% url 'admin:members_group_changelist' %}">Gruppen</a>
        </th>
        <td></td>
        <td></td>
    </tr>
</table>
    </div>
{% endif %}

{% if perms.members.change_membertraining %}
<br>
<div class="app-members module current-app">
<h2>Ausbildung und Aktivtäten</h2>
<p>
Hier kannst du Fortbildungen verwalten und mögliche Aktivitäten und Fortbildungstypen festlegen. Diese bestimmen, welche
Aktivitäten bzw. Fortbildungen Nutzer:innen auswählen können.
</p>
<table>
    <tr>
        <th scope="row">
            <a href="{% url 'admin:members_membertraining_changelist' %}">Fortbildungen</a>
        </th>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">
            <a href="{% url 'admin:members_trainingcategory_changelist' %}">Fortbildungstypen</a>
        </th>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">
            <a href="{% url 'admin:members_activitycategory_changelist' %}">Aktivitäten</a>
        </th>
        <td></td>
        <td></td>
    </tr>
</table>
    </div>
{% endif %}

</div>
{% endblock %}
