{% extends "admin/extra_view.html" %}
{% load i18n admin_urls static %}

{% block content %}
<div id="content-main">

<p>
  {% blocktranslate with name=member.name %}
  Send a message to <strong>{{ name }}</strong>. You will be set as reply-to and receive a copy.
  {% endblocktranslate %}
</p>

<form method="post">
  {% csrf_token %}
  <fieldset class="module aligned">
    {% for field in form %}
    <div class="form-row">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
      {% for error in field.errors %}<p class="errornote">{{ error }}</p>{% endfor %}
    </div>
    {% endfor %}
  </fieldset>
  <div class="submit-row">
    <input type="submit" value="{% translate 'Send' %}" class="default">
    <a href="{% url 'admin:members_member_search_youth_leaders' %}" class="button cancel-link">
      {% translate "Cancel" %}
    </a>
  </div>
</form>

</div>
{% endblock %}
