{% extends "admin/extra_view.html" %}
{% load i18n %}

{% block content %}
<h2>{% translate "Demote to waiter" %}</h2>
<p>
{% trans "Do you want to demote the following unconfirmed registrations to waiters?" %}
</p>
<p>
<ul>
    {% for member in queryset %}
    <li>
    <a href="{% url 'admin:members_memberunconfirmedproxy_change' 3 %}">{{ member }}</a>
    </li>
    {% endfor %}
</ul>
</p>

<form action="" method="post">
    {% csrf_token %}
    {% if form %}
    {{form}}
    {% endif %}
    <input type="hidden" name="action" value="demote_to_waiter_action">
    <input class="default" style="color: $default-link-color" type="submit" name="apply" value="{% translate 'Demote' %}">
    <a href="#" class="button cancel-link">{% translate "Cancel" %}</a>
</form>
{% endblock %}
