{% extends "admin/extra_view.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans 'LJP application for' %}: {{ memberlist.ljpproposal.title }} ({{ memberlist.name }})</h2>
<p>
{% blocktrans %}For applying for contributions by the LJP, a seminar report is required. From the information
that you entered in the excursion, you can automatically generate such a report here.{% endblocktrans %}
</p>
<p>
{% blocktrans %}A seminar report consists of multiple components:{% endblocktrans %}
</p>

<p>
<table>
<tr>
<td>
{% blocktrans %}An excel sheet containing the basic data of the seminar. This is also called the V-BK form.{% endblocktrans %}
</td>
<td>
<a href="{% url 'admin:members_freizeit_download_ljp_vbk' memberlist.pk %}" class="button">{% translate "Download" %}</a>
</td>
</tr>
<tr>
<td>
{% blocktrans %}A pedagocial report on the strategy and outcome of the seminar with respect to achieving the
learning goal.
This also includes a detailed, tabularized time schedule and is produced as an editable Microsoft Word document.{% endblocktrans %}
</td>
<td>
<a href="{% url 'admin:members_freizeit_download_ljp_report_docx' memberlist.pk %}" class="button">{% translate "Download" %}</a>
</td>
</tr>
<tr>
<td>
{% blocktrans %}A cost and participants overview. This is not required for the actual application, but is provided for convience as a PDF document.{% endblocktrans %}
</td>
<td>
<a href="{% url 'admin:members_freizeit_download_ljp_costs_participants' memberlist.pk %}" class="button" target="_blank">{% translate "Download" %}</a>
</td>
</tr>
</table>
</p>

<p>
<a href="#" class="button cancel-link">{% translate "Back" %}</a>
</p>

{% endblock %}
