{% extends "admin/extra_view.html" %}
{% load i18n %}

{% block content %}
<h2>{% translate "Invite to a group" %}</h2>
<p>
{% if waiter %}
{% blocktrans %}You are inviting the following waiter for registration in group {{ group }}.{% endblocktrans %}
{% else %}
{% blocktrans %}You are inviting the following waiters for registration in group {{ group }}.{% endblocktrans %}
{% endif %}
</p>
<p>
<ul>
    {% for waiter in queryset %}
    <li>
    <a href="{% url 'admin:members_memberwaitinglist_change' waiter.id %}">{{ waiter }}</a>
    </li>
    {% endfor %}
</ul>
</p>

<p>
{% blocktrans %}The following text will be sent as an invitation email. The patterns
{name}, {link} and {invitation_reject_link} will be automatically replaced by personalized
data upon sending. Please adapt if needed and confirm.{% endblocktrans %}
</p>

<form action="" method="post">
    {% csrf_token %}
    <p>
    {{form}}
    </p>
    <br>
    <div>
    <p>
    <input type="hidden" name="group" value="{{ group.pk }}">
    <input type="hidden" name="action" value="ask_for_registration_action">
    <input class="default" style="color: $default-link-color" type="submit" name="send" value="{% translate 'Send' %}">
    <a href="#" class="button cancel-link">{% translate "Back" %}</a>
    </p>
    </div>
</form>

{% endblock %}
