{% extends "admin/extra_view.html" %}
{% load i18n %}

{% block content %}
<p>
{% trans "You selected the following members:" %}
</p>
<p>
{% for member in members %}
<ul>
    <li>
    <a href="{% url 'admin:members_member_change' member.id %}">{{ member }}</a>
    </li>
</ul>
{% endfor %}
</p>
<p>
{% blocktrans %}Do you want to invite these members to set their login data for Kompass? They will
receive an email with a link to set their username and password after entering one of the current
active registration passwords.{% endblocktrans %}
</p>

<form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="hidden" name="action" value="invite_as_user_action">
    <input class="default" style="color: $default-link-color" type="submit" name="apply"
        value="{% translate 'Invite' %}">
    <a href="#" class="button cancel-link">{% translate "Cancel" %}</a>
</form>

{% endblock %}
