{% extends "admin/extra_view.html" %}
{% load i18n %}

{% block content %}
<p>
{% if is_password_reset %}
{% blocktrans %}Do you want to send a password reset email to {{ member }}? They will receive an
email with a link to reset their password after entering one of the current active registration
passwords.{% endblocktrans %}
{% else %}
{% blocktrans %}Do you want to invite {{ member }} to set their login data for Kompass? They will
receive an email with a link to set their username and password after entering one of the current
active registration passwords.{% endblocktrans %}
{% endif %}
</p>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="invite_as_user">
    <input class="default" style="color: $default-link-color" type="submit" name="apply"
        value="{% if is_password_reset %}{% translate 'Send reset email' %}{% else %}{% translate 'Invite' %}{% endif %}">
    <a href="#" class="button cancel-link">{% translate "Cancel" %}</a>
</form>

{% endblock %}
