{% extends "admin/extra_view.html" %}
{% load i18n %}

{% block content %}
<h2>{% translate "Invite to a group" %}</h2>
<p>
{% if waiter %}
{% trans "You are inviting:" %}
{% else %}
{% trans "You are inviting the following waiters for registration:" %}
{% endif %}
</p>
<p>
<ul>
    {% for waiter in queryset %}
    <li>
    <a href="{% url 'admin:members_memberwaitinglist_change' waiter.id %}">{{ waiter }}</a>
    </li>
    {% endfor %}
</ul>
</p>

<p>
{% if waiter %}
{% blocktrans %}Please choose the group that you want to invite {{ waiter }} to.{% endblocktrans %}
{% else %}
{% blocktrans %}To which group do you want to invite these waiters?{% endblocktrans %}
{% endif %}
</p>

<form action="" method="post">
    {% csrf_token %}
    <p>
    {{form}}
    </p>
    <br>
    <div>
    <p>
    <input type="hidden" name="action" value="ask_for_registration_action">
    <input class="default" style="color: $default-link-color" type="submit" name="apply" value="{% translate 'Invite' %}">
    <a href="#" class="button cancel-link">{% translate "Cancel" %}</a>
    </p>
    </div>
</form>
{% endblock %}
