{% extends "admin/extra_view.html" %}
{% load i18n %}

{% block content %}
<h2>{% translate "Request registration form" %}</h2>
<p>
{% blocktrans %}Do you want to ask {{ member }} to upload their registration form?{% endblocktrans %}
</p>
<p>
{% if member.registration_form %}
{% blocktrans %}Warning: {{ member }} has already uploaded a registration form.{% endblocktrans %}
{% endif %}
</p>

<form action="" method="post">
    {% csrf_token %}
    <input class="default" style="color: $default-link-color" type="submit" name="apply" value="{% translate 'Request registration form' %}">
    <a href="#" class="button cancel-link">{% translate "Cancel" %}</a>
</form>
{% endblock %}
