{% extends "members/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% if is_reset_mode %}{% trans "Reset password" %}{% else %}{% trans "Register" %}{% endif %}
{% endblock %}

{% block content %}

<h1>{% if is_reset_mode %}{% trans "Reset password" %}{% else %}{% trans "Set login data" %}{% endif %}</h1>

<p>{% trans "Welcome, " %} {{ member.prename }}.
{% if is_reset_mode %}
{% blocktrans %}To reset your password for Kompass, please enter the password that you received.{% endblocktrans%}</p>
{% else %}
{% blocktrans %}To set your personal login data for Kompass, please enter the password that you received.{% endblocktrans%}</p>
{% endif %}

{% if error_message %}
	<p class="errorlist">{{ error_message }}</p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <input type="password" name="password" required>
    <input type="hidden" name="key" value="{{key}}">
    <p><input type="submit" value="{% trans "submit" %}"/></p>
</form>

{% endblock %}
