{% extends "members/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Register" %}
{% endblock %}

{% block content %}

<h1>{% trans "Set login data" %}</h1>

<p>{% trans "Welcome, " %} {{ member.prename }}. {% blocktrans %}To set your personal login data for Kompass, please enter the password that you received.{% endblocktrans%}</p>

{% if error_message %}
	<p class="errorlist">{{ error_message }}</p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <input type="password" name="password" required>
    <input type="hidden" name="key" value="{{key}}">
    <p><input type="submit" value="{% trans "submit" %}"/></p>
</form>

{% endblock %}
