{% extends "admin/base_site.html" %}
{% load static i18n %}

{# Setup favicon #}
{% block extrahead %}<link rel="shortcut icon" type="image/png" href="{% static 'admin/img/favicon.svg' %}"/>{% endblock %}

{# Setup browser tab label #}
{% block title %}{{ title }} | KOMPASS {% endblock %}

{# Setup branding #}
{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {# Your logo here #}
            <img src="{% static 'admin/img/favicon_bright.svg' %}" alt="KOMPASS" height="50px" width="50px">
            <br><br>
            </span>
        </a>
    </h1>
{% endblock %}

{% block welcome-msg %}
    <strong>
        {% firstof user.member.name user.get_username %}
    </strong>
{% endblock %}
