{% extends "admin/index.html" %}
{% load i18n static common %}

{% block content %}

<div id="content-main">
<div>
<p>
<h2>Willkommen, {% firstof user.member.prename user.get_username %}!</h2>
</p>
<p>
Der KOMPASS ist dein Kompass in der Jugendarbeit der JDAV Heidelberg. Hier hast du Zugriff
auf deine
<a href="{% url 'admin:members_member_changelist' %}">Jugendgruppen</a>, deine letzten
<a href="{% url 'admin:members_freizeit_changelist' %}">Ausfahrten</a> und deine
<a href="{% url 'admin:finance_statementunsubmitted_changelist' %}">Abrechnungen</a>.
</p>
</div>

{% if user.member %}

<div>
<p>
<h3>Deine Jugendgruppen</h3>
Hier siehst du alle von dir geleiteten Jugendgruppen.
</p>
<p>
<table>
    {% for group in user.member.led_groups %}
    <tr>
        <td>
        <a href='{% url 'admin:members_member_changelist' %}?group__id__exact={{group.pk}}'>{{ group.name }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
</p>
</div>

<div>
<p>
<h3>Deine letzten Ausfahrten</h3>
Hier siehst du alle von dir geleiteten Ausfahrten.
</p>
<p>
<table>
    {% for freizeit in user.member.led_freizeiten %}
    <tr>
        <td>
            <a href='{% url 'admin:members_freizeit_change' freizeit.pk %}'>{{freizeit.name}}</a>
        </td>
    </tr>
    {% endfor %}
</table>
</p>
</div>
</div>

{% endif %}

{% endblock %}

{% block sidebar %}
<div id="content-related">
<div class="module" id="recent-actions-module">
<h2>Links</h2>
<table>
    <tr>
        <td>
            <a href="{% settings_value 'CLOUD_LINK' %}">Nextcloud</a>
        </td>
        <td>
            Hier liegen Vorlagen für Formulare und nützliche Handbücher.
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% settings_value 'DAV_360_LINK' %}">DAV 360</a>
        </td>
        <td>
            Zugriff zu Online Office, Teams und deinem DAV Mailaccount.
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% settings_value 'WIKI_LINK' %}">Julei-Wiki</a>
        </td>
        <td>
            Informationen zum Jugendleiter:in-sein.
        </td>
    </tr>
</table>

<h2>Ansprechpersonen</h2>
{% comment %}
Nicht alles im Leben ist ein automatisierter Prozess. Falls du trotz KOMPASS nicht mehr
weiterweißt oder sonst der Schuh drückt, schreibe eine E-Mail an eine der folgenden Personen:
{% endcomment %}
<div>
<table>
    <tr>
        <td>
            Jugendreferat
        </td>
        <td>
             <a href="mailto:jugendreferat@jdav-hd.de">jugendreferat@jdav-hd.de</a>
        </td>
    </tr>
    <tr>
        <td>
            Fragen zum Kompass
        </td>
        <td>
             <a href="mailto:digitales@jdav-hd.de">digitales@jdav-hd.de</a>
        </td>
    </tr>
</table>
</div>
</div>
</div>
{% endblock %}
