{% extends "admin/change_form_object_tools.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}

<li>
    <form method="post" action="{% url 'admin:members_freizeit_action' original.pk %}">
        {% csrf_token %}
        <input type="submit" name="crisis_intervention_list" value="{% trans 'Generate crisis intervention list' %}">
    </form>
</li>

<li>
    <form method="post" action="{% url 'admin:members_freizeit_action' original.pk %}">
        {% csrf_token %}
        <input type="submit" name="sjr_application" value="{% trans 'Generate SJR application' %}">
    </form>
</li>

<li>
    <form method="post" action="{% url 'admin:members_freizeit_action' original.pk %}">
        {% csrf_token %}
        <input type="submit" name="notes_list" value="{% trans 'Generate overview' %}">
    </form>
</li>

<li>
    <form method="post" action="{% url 'admin:members_freizeit_action' original.pk %}">
        {% csrf_token %}
        <input type="submit" name="seminar_report" value="{% trans 'Generate seminar report' %}">
    </form>
</li>

{% if original.statement and not original.statement.submitted %}
<li>
<a class="historylink" href="{% url 'admin:finance_statementunsubmitted_submit' original.statement.pk %}">{% trans 'Submit statement' %}</a>
</li>
{% endif %}
{{block.super}}

{% endblock %}
