{% extends "admin/change_form_object_tools.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}

<li>
    <form method="post" action="{% url 'admin:members_freizeit_action' original.pk %}">
        {% csrf_token %}
        <input type="submit" name="crisis_intervention_list" value="{% trans 'Generate crisis intervention list' %}">
    </form>
</li>

<li>
    <form method="post" action="{% url 'admin:members_freizeit_action' original.pk %}">
        {% csrf_token %}
        <input type="submit" name="sjr_application" value="{% trans 'Generate SJR application' %}">
    </form>
</li>

<li>
    <form method="post" action="{% url 'admin:members_freizeit_action' original.pk %}">
        {% csrf_token %}
        <input type="submit" name="notes_list" value="{% trans 'Generate overview' %}">
    </form>
</li>

<li>
    <form method="post" action="{% url 'admin:members_freizeit_action' original.pk %}">
        {% csrf_token %}
        <input type="submit" name="seminar_report" value="{% trans 'Generate seminar report' %}">
    </form>
</li>

{% if original.statement %}
<li>
<form method="post" action="{% url 'admin:members_freizeit_action' original.pk %}">
    {% csrf_token %}
    <input type="submit" name="finance_overview" value="{% trans 'Finance overview' %}">
</form>
</li>
{% endif %}
{{block.super}}

{% endblock %}
