{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}
    <a href="{% if current_group %}{% url 'admin:members_member_changelist' %}?group__id__exact={{ current_group.pk }}{% else %}{% url opts|admin_urlname:'changelist' %}{% endif %}">
        {% if current_group %}{{ current_group.name }}{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    </a>
{% else %}
    {% if current_group %}{{ current_group.name }}{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block after_field_sets %}

<!--
<p><b>{% trans "Participations:" %}</b></p>
<ul>
{% for activity in activities %}
    <li><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a>, {{ activity.date }}</li>
{% endfor %}
</ul>

{% if perms.members.may_see_qualities %}
<p><b>{% trans "Qualities:" %}</b></p>
<table style="width:100%">
	<tr>
		<th>{% trans "Activity" %}</th>
		<th>{% trans "Skill level" %}</th>
	</tr>
{% for key, value in qualities.items %}
	<tr>
		<td>{{ key }}</td>
		<td><progress value="{{ value }}" max="100"></progress></td>
	</tr>
{% endfor %}
</table>
{% endif %}
-->

{% endblock %}
