{% extends "members/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Echo" %}
{% endblock %}

{% block content %}

<h1>{% trans "Echo" %}</h1>

<p>{% blocktrans %}Thanks for echoing back. Please enter the password, which you can find in the email we sent you.
{% endblocktrans %}</p>

{% if error_message %}
	<p><b>{{ error_message }}</b></p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <input type="password" name="password" required>
    <input type="hidden" name="key" value="{{key}}">
    <p><input type="submit" value="{% trans "submit" %}"/></p>
</form>

{% endblock %}
