{% extends "members/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Registration" %}
{% endblock %}

{% block content %}

<h1>{% trans "Register" %}</h1>

<p>{% blocktrans %}Thanks for your interest in participating in the JDAV {{ sektion }}. Please enter the registration password, your youth leader gave you.{% endblocktrans %}</p>

{% if error_message %}
	<p><b>{{ error_message }}</b></p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <input type="password" name="password" required>
    <p><input type="submit" value="{% trans "submit" %}"/></p>
</form>

{% endblock %}
