{% extends "members/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Registration" %}
{% endblock %}

{% block content %}

<h1>{% trans "Register" %}</h1>

<p>{% blocktrans %}Your registration succeeded. We summarized your registration in this registration
form. Please download it, fill in the remaining fields and read the general conditions. If you agree,
please sign the document and upload a scan or image here.{% endblocktrans %}

{% if needs_mail_confirmation %}
    {% trans "Please remember to confirm your email address." %}
    {% trans "The coordinating team will process your registration when your email address is confirmed." %}</p>
{% else %}
    {% trans "The coordinating team will process your registration as soon as possible." %}</p>
{% endif %}

{% endblock %}
