{% extends "members/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Registration for waiting list" %}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static "ludwigsburgalpin/termine.css" static %}">

<h1>Anmeldung</h1>

<p>
Da wir durch das Engagment unserer ehrenamtlichen Jugendleitern, aber auch die Kletterhalle sowie Ausrüstung limitiert sind können wir nur eine begrenzte Anzahl an Plätzen in den Gruppen anbieten. Damit alle eine faire Changce auf einen Gruppenplatz bekommen, führen wir für die jüngeren Klettergruppen eine gemeinsame Liste. Soblad Plätze frei werden oder eine neue Gruppe gegründet wird seid ihr an der Reihe! Dennoch kann die Wartezeit leider zwischen wenigen Wochen und über einem Jahr variieren.
</p>

<p>
Die Anmeldung für die Gruppen <a href="{% url 'startpage:gruppe_detail' group_name='JuMa' %}">JuMa</a>,
<a href="{% url 'startpage:gruppe_detail' group_name='Klettertreff' %}">Klettertreff</a> und
<a href="{% url 'startpage:gruppe_detail' group_name='Mountainbike' %}">Mountainbike</a> laufen separat.
</p>

{% if error_message %}
	<p><b>{{ error_message }}</b></p>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    <table class="termine">
    {% csrf_token %}
    {{form}}
    </table>
    <p>
    <input type="checkbox" required>
    {% blocktrans %}I agree that my data is stored and processed on the server of the JDAV {{ sektion }}.{% endblocktrans %}
    <input type="hidden" name="password" value="{{ pwd.password }}">
    <input type="hidden" name="save">
    <p><input type="submit" value="{% trans "submit" %}"/></p>
</form>

{% endblock %}
