{% extends "startpage/base_subsite.html" %}

{% block content %}
<h1>FAQ</h1>

<h3>Ab welchem Alter kann ich mein Kind zu den Jugendgruppen anmelden?</h3>

<p>Unsere Jugendgruppen sind ab einem Alter von 9 Jahren. Sie können ihr Kind gerne bereits früher auf die Liste setzen, um die Wartezeit zu verkürzen, sobald ihr Kind das entsprechende Alter erreicht hat.</p>

<h3>Wie lange sind die Wartezeiten?</h3>

<p>
Leider haben wir eine sehr große Nachfrage, der wir mit unseren Jugendleiter:innen und unseren Gruppenplätzen nicht nachkommen können. Die Wartezeiten sind sehr unterscheidlich und hängen vom Alter und den verfügbaren Gruppenplätzen ab. Die Wartezeiten kann zwischen einigen Wochen und mehr als einem Jahr liegen.
</p>

<h3>Muss mein Kind DAV Mitglied sein?</h3>

<p>
Ja. Sobald ihr Kind regelmäßig an den Gruppenstunden teilnimmt, muss es Mitglied im DAV Heidelberg sein. Für die Aufnahme in die Warteliste ist keine Mitgliedschaft notwenig.
</p>

<h3>Was kostet die Teilnahme an den Jugendgruppen?</h3>

<p>
Die Jugendgruppen an sich sind kostenlos, allerdings ist eine Vereinsmitgliedschaft und der Halleneintritt nötig. Der Beitrag setzt sich aus zwei Teilen zusammen:
</p>

<p>
<ul>
    <li>Mitgliedschaft im DAV Heidelberg
        (Zu den <a href="https://www.alpenverein-heidelberg.de/index.php?inhalt=mitglied">Preisen</a>)
            </li>

    <li>Halbjahreskarte für den Kletterhalleneintritt während der Gruppenstunden: 25 Euro (Bei zwei Gruppenstunden pro Woche 30 Euro)</li>
</ul>
</p>

<h3>Benötigt mein Kind eine Ausrüstung?</h3>

<p>
Während der Gruppenstunden können die Kinder das Material (Klettergurt, Schuhe, Sicherungsgerät, … ) ohne zusätzliche Kosten von der Jugend des DAV Heidelberg ausleihen.
</p>

{% endblock %}
