{% extends "startpage/base_subsite.html" %}
{% load static %}

{% block content %}
<a name="impressum"></a>
<h1>Impressum</h1>

<h3>Anbieter</h3>

<p>
Deutscher Alpenverein Sektion Heidelberg 1869 e.V.<br>
Jugendreferat<br>
Harbigweg 20<br>
69124 Heidelberg, Deutschland<br>
Tel.: +49 (62 21) 48 40 76<br>
Fax: +49 (62 21) 43 73 38<br>
E-Mail: <a href="mailto:geschaeftsstelle@alpenverein-heidelberg.de">geschaeftsstelle@alpenverein-heidelberg.de</a><br>
URL: <a href="https://www.alpenverein-heidelberg.de">www.alpenverein-heidelberg.de</a><br>
</p>

<h3>Vertretungsberechtigter</h3>

<p>
Der Deutsche Alpenverein Sektion Heidelberg 1869 wird durch den ersten Vorsitzenden, den zweiten Vorsitzenden und den Schatzmeister vertreten:
</p>

<p>
Dr. Ulf Gieseler (1. Vorsitzender), Paul Jonas (2. Vorsitzender), Marc von der Heydt (Schatzmeister)
(gemäß § 14 Satz der Satzung des Deutschen Alpenvereins Sektion Heidelberg 1869)
</p>

<h3>Vereinsregister</h3>

<p>
Der Deutsche Alpenverein Sektion Heidelberg 1869 e.V. ist im Vereinsregister des Amtsgerichts Heidelberg unter der Registernummer VR 486 eingetragen.
</p>

<h3>Jugendreferat</h3>

<p>
Leitung: Eva Engelmann und Robert Scheffler<br>
E-Mail: jugend@alpenverein-heidelberg.de<br>
URL: <a href="https://www.jdav-hd.de">www.jdav-hd.de</a> ; <a href="https://www.jdav-heidelberg.de">www.jdav-heidelberg.de</a>
</p>

<p>
<a href="http://www.disclaimer.de/disclaimer.htm">Haftungsausschluss</a>; <a href="http://www.disclaimer.de/disclaimer.htm#2">Disclaimer</a>
</p>

<a name="datenschutz"></a>
<h1>Datenschutzerklärung</h1>

<h3>1. Wer für Ihre personenbezogenen Daten verantwortlich ist:</h3>

<p>
Diese Datenschutz-Information gilt für die Datenverarbeitung durch:
</p>

<p>
Verantwortlicher: Deutscher Alpenverein Sektion Heidelberg 1869 e.V.<br>
Harbigweg 20, 69124 Heidelberg<br>
Email: <a href="mailto:geschaeftsstelle@alpenverein-heidelberg.de">geschaeftsstelle@alpenverein-heidelberg.de</a><br>
Telefon: +49 6221 484076
</p>

<p>
Zur Auftragsverarbeitung für die jdav Heidelberg ist die Firma Contabo GmbH Aschauer Str. 32a 81549 München beauftragt.
Die Datenverarbeitung erfolgt in Rechenzentren in der Schweiz oder Staaten des Europäischen Wirtschaftsraums (EWR).
</p>

<h3>
2. Welche personenbezogenen Daten wir von Ihnen erheben und zu welchem Zweck das geschieht:
</h3>

<p>
Beim Aufrufen unserer Website <a href="https://jdav-hd.de">jdav-hd.de</a> werden durch den auf Ihrem Endgerät zum Einsatz kommenden Browser automatisch Informationen an den Server unserer Website gesendet. Diese Informationen werden temporär in einem sog. Logfile gespeichert. Folgende Informationen werden dabei ohne Ihr Zutun erfasst und bis zur automatischen Löschung gespeichert:
</p>

<p>
<ul>
    <li>IP-Adresse des anfragenden Rechners,</li>
    <li>Datum und Uhrzeit des Zugriffs,</li>
    <li>Name und URL der abgerufenen Datei,</li>
    <li>Website, von der aus der Zugriff erfolgt (Referrer-URL),</li>
    <li>verwendeter Browser und ggfs. das Betriebssystem Ihres Rechners sowie der Name Ihres Access-Providers.</li>
</ul>
</p>

<p>
Die genannten Daten werden durch uns zu folgenden Zwecken verarbeitet:
</p>
<ul>
    <li>Gewährleistung eines reibungslosen Verbindungsaufbaus der Website,</li>
    <li>Gewährleistung einer komfortablen Nutzung unserer Website,</li>
    <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
    <li>zu weiteren administrativen Zwecken.</li>

</ul>

<p>
Die Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 S. 1 lit. f DSGVO. Unser berechtigtes Interesse folgt aus oben aufgelisteten Zwecken zur Datenerhebung. In keinem Fall verwenden wir die erhobenen Daten zu dem Zweck, Rückschlüsse auf Ihre Person zu ziehen.
</p>

<p>
Darüber hinaus setzen wir beim Besuch unserer Website Cookies ein. Nähere Erläuterungen dazu erhalten Sie unter den Ziff. 4 dieser Datenschutzerklärung.
</p>

<h3>3. Welche Daten wir zu welchem Zweck weitergeben:</h3>

<p>
Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den im Folgenden aufgeführten Zwecken findet nicht statt.
</p>

<b>a) Weitergabe von Daten, die wir im Rahmen Ihres Besuchs unserer Website erheben:</b>

<p>
Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:
</p>

<ul>
    <li>Sie nach Art. 6 Abs. 1 S. 1 lit. a DSGVO Ihre ausdrückliche Einwilligung dazu erteilt haben,</li>
    <li>Sie externe Komponenten auf unserer Website aufrufen, nach Art. 6 Abs. 1 S. 1 lit. f zur Darstellung der externen Komponenten der Anbieter google.com (Google Inc, 1600 Amphitheatre Parkway Mountain View, CA 94043, USA), jquery.com (JSFoundation, Inc., 1 Letterman Drive San Francisco, CA 94129, USA), openlayers.org, getmdl.io (google), (Google Inc, 1600 Amphitheatre Parkway Mountain View, CA 94043, USA) cdn.polyfill.io, openstreetmap.org sowie opentopomap.org,</li>
    <li>die Weiterleitung nach Art. 6 Abs. 1 S. 1 lit. f DSGVO zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben,</li>
    <li>für den Fall, dass für die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. c DSGVO eine gesetzliche Verpflichtung besteht, sowie</li>
    <li>dies gesetzlich zulässig und nach Art. 6 Abs. 1 S. 1 lit. b DSGVO für die Abwicklung von Vertragsverhältnissen mit Ihnen erforderlich ist.</li>
</ul>

<b>b) Weitergabe Ihrer Daten im Rahmen unserer Vereinstätigkeit</b>

<p>
Zur Weitergabe der Daten im Rahmen einer Mitgliedschaft im Alpenverein Heidelberg beachten Sie bitte auch die Datenschutzerklärung der Sektion unter <a href="https://www.alpenverein-heidelberg.de/datenschutz">www.alpenverein-heidelberg.de/datenschutz</a>.
</p>

<p>
Die jdav Heidelberg hat die Firma Contabo GmbH Aschauer Str. 32a 81549 München beauftragt die Daten ihrer Mitglieder zu
verwalten. Diese Datenverarbeitung erfolgt in Rechenzentren in der Schweiz oder Staaten des Europäischen Wirtschaftsraums (EWR).
</p>

<p>
Die von Ihnen in Ihrer Beitrittserklärung angegebenen Daten über Ihre persönlichen und sachlichen Verhältnisse (sogenannte personenbezogene Daten) werden gleichermaßen auf Datenverarbeitungs-Systemen der Sektion, der Sie beitreten, wie auch des Bundesverbandes des Deutschen Alpenvereins (DAV) gespeichert und für Verwaltungszwecke der Sektion, bzw. des Bundesverbandes verarbeitet und genutzt werden. Verantwortliche Stelle im Sinne des § 3 (7) BDSG bzw. Art. 4 lit 7. DSGVO ist dabei die Sektion, der Sie beitreten.
</p>

<p>
Eine Übermittlung von Teilen dieser Daten an die jeweiligen Landes- und Sportfachverbände findet nur im Rahmen der in den Satzungen der Landes- und Sportfachverbände festgelegten Zwecke statt. Diese Datenübermittlungen sind notwendig zum Zwecke der Organisation eines Spiel- bzw. Wettkampfbetriebes und zum Zwecke der Einwerbung von öffentlichen Fördermitteln.
</p>

<p>
Wir sichern Ihnen zu, Ihre personenbezogenen Daten vertraulich zu behandeln und nicht an Stellen außerhalb des DAV, weder außerhalb der Sektion, noch außerhalb des Bundesverbandes und der jeweiligen Landes- und Sportfachverbände weiterzugeben. Sie können jederzeit schriftlich Auskunft über die bezüglich Ihrer Person gespeicherten Daten erhalten und Korrektur verlangen, soweit die bei der Sektion und der Bundesgeschäftsstelle gespeicherten Daten unrichtig sind. Sollten die gespeicherten Daten für die Abwicklung der Geschäftsprozesse der Sektion, bzw. des Bundesverbandes nicht erforderlich sein, so können Sie auch eine Sperrung, gegebenenfalls auch eine Löschung Ihrer personenbezogenen Daten verlangen.
</p>

<p>
Nach einer Beendigung der Mitgliedschaft werden Ihre personenbezogenen Daten gelöscht, soweit sie nicht, entsprechend der steuerrechtlichen Vorgaben, aufbewahrt werden müssen.
</p>

<p>
Eine Nutzung Ihrer personenbezogenen Daten für Werbezwecke findet weder durch die Sektion, den Bundesverband, Kooperationspartner des Bundesverbandes des Deutschen Alpenvereins noch durch die jeweiligen Landes- und Sportfachverbände statt.
</p>

<p>
Die Datenverarbeitung erfolgt auf Grundlage des Art. 6 Abs. 1 S. 1 lit. b DSGVO.
</p>

<h3>4. Wir setzen Cookies ein:</h3>

<p>
Wir setzen auf unserer Seite Cookies ein. Hierbei handelt es sich um kleine Dateien, die Ihr Browser automatisch erstellt und die auf Ihrem Endgerät (Laptop, Tablet, Smartphone o.ä.) gespeichert werden, wenn Sie unsere Seite besuchen. Cookies richten auf Ihrem Endgerät keinen Schaden an, enthalten keine Viren, Trojaner oder sonstige Schadsoftware.
</p>

<p>
In dem Cookie werden Informationen abgelegt, die sich jeweils im Zusammenhang mit dem spezifisch eingesetzten Endgerät ergeben. Dies bedeutet jedoch nicht, dass wir dadurch unmittelbar Kenntnis von Ihrer Identität erhalten.
</p>

<p>
Der Einsatz von Cookies dient einerseits dazu, die Nutzung unseres Angebots für Sie angenehmer zu gestalten. So setzen wir sogenannte Session-Cookies ein, um zu erkennen, dass Sie einzelne Seiten unserer Website bereits besucht haben. Diese werden nach Verlassen unserer Seite automatisch gelöscht.
</p>

<p>
Darüber hinaus setzen wir ebenfalls zur Optimierung der Benutzerfreundlichkeit temporäre Cookies ein, die für einen bestimmten festgelegten Zeitraum auf Ihrem Endgerät gespeichert werden. Besuchen Sie unsere Seite erneut, um unsere Dienste in Anspruch zu nehmen, wird automatisch erkannt, dass Sie bereits bei uns waren und welche Eingaben und Einstellungen Sie getätigt haben, um diese nicht noch einmal eingeben zu müssen.
</p>

<p>
Die durch Cookies verarbeiteten Daten sind für die genannten Zwecke zur Wahrung unserer berechtigten Interessen sowie der Dritter nach Art. 6 Abs. 1 S. 1 lit. f DSGVO erforderlich.
</p>

<p>
Die meisten Browser akzeptieren Cookies automatisch. Sie können Ihren Browser jedoch so konfigurieren, dass keine Cookies auf Ihrem Computer gespeichert werden oder stets ein Hinweis erscheint, bevor ein neuer Cookie angelegt wird. Die vollständige Deaktivierung von Cookies kann jedoch dazu führen, dass Sie nicht alle Funktionen unserer Website nutzen können.
</p>

<h3>5. Das geschieht im Falle einer elektronischen Kontaktaufnahme:</h3>

<p>
<b>a) Beschreibung und Umfang der Datenverarbeitung</b>
</p>

<p>
Auf unserer Internetseite sind Kontaktformulare vorhanden, welche für die elektronische Kontaktaufnahme genutzt werden können.
Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegeben Daten an uns übermittelt und gespeichert.
Für diese Datenverarbeitung ist die Firma Contabo GmbH Aschauer Str. 32a 81549 München beauftragt.
Diese Daten sind:
</p>

<p>
Name, Email-Adresse, Betreff und Inhalt Ihrer Nachricht.
</p>

<p>
Im Zeitpunkt der Absendung der Nachricht werden zudem folgende Daten gespeichert
</p>

<p>
<ul>
    <li>Ihre IP-Adresse,</li>
    <li>Datum und Uhrzeit der Registrierung</li>
</ul>
</p>

<p>
Für die Verarbeitung der Daten wird im Rahmen des Absendevorgangs Ihre Einwilligung eingeholt und auf diese Datenschutzerklärung verwiesen.
</p>

<p>
Alternativ ist eine Kontaktaufnahme über die bereitgestellte Email-Adresse möglich. In diesem Fall werden Ihre mit der E-Mail übermittelten personenbezogenen Daten gespeichert.
</p>

<p>
Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für die Verarbeitung der Konversation verwendet.
</p>

<p>
Falls im Formular angegeben erfolgt eine Weiterleitung aller eingegeben Daten an die private E-Mail-Adresse der verantwortlichen Jugendleiter. In diesem Fall kann je nach E-Mail Provider des Jugendleiters eine Weitergabe der Daten an Dritte nicht ausgeschlossen werden.
</p>

<p><b>b) Rechtsgrundlage für die Datenverarbeitung</b></p>

<p>
Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen Ihrer Einwilligung Art. 6 Abs. 1 lit. a DSGVO.
</p>

<p>
Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer Email übermittelt werden, ist Art. 6 Abs. 1 lit. f DSGVO. Zielt der Email-Kontakt auf den Abschluss eines Vertrages, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.
</p>

<p><b>c) Zweck der Datenverarbeitung</b></p>

<p>
Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient uns allein zur Bearbeitung der Kontaktaufnahme. Im Falle einer Kontaktaufnahme per E-Mail liegt hierin auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten.
</p>

<p>
Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu, einen Missbrauch des Kontaktformulars zu verhindern und die Sicherheit unserer informationstechnischen Systeme sicherzustellen.
</p>

<p><b>d) Dauer der Speicherung</b></p>

<p>
Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist.
</p>

<p>
Die während des Absendevorgangs zusätzlich erhobenen personenbezogenen Daten werden spätestens nach einer Frist von sieben Tagen gelöscht.
</p>

<h3>6. Das geschieht, wenn Sie Online-Anmeldeformulare nutzen:</h3>

<p>
Auf unserer Internetseite sind Anmeldeformulare vorhanden, welches für die elektronische Anmeldung zu Jugendgruppen, Kursen und Veranstaltungen unseres Vereins genutzt werden kann. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegeben Daten an uns übermittelt und gespeichert.
</p>

<p>
Name, Email-Adresse, Telefonnummer, gewählter Kurs, Informationen zu DAV-Mitgliedschaft, Mitgliedsnummer, Alter bzw. Geburtsdatum, Adresse, Informationen zur Verfügbarkeit für Jugendgruppen ggfs. Informationen zur Lawinenausbildung, allfällig übermittelte Bemerkungen.
</p>

<p>
Im Zeitpunkt der Absendung der Nachricht werden zudem folgende Daten gespeichert:
</p>

<p>
<ul>
    <li>Ihre IP-Adresse,</li>
    <li>Datum und Uhrzeit der Registrierung</li>
</ul>
</p>

<p>
Für die Verarbeitung der Daten wird im Rahmen des Absendevorgangs Ihre Einwilligung eingeholt und auf diese Datenschutzerklärung verwiesen.
</p>

<p>
Die gespeicherten Daten werden spätestens ein Jahr nach Durchführung der Veranstaltung gelöscht, sofern nicht steuerliche Vorschriften eine längere Speicherdauer vorgeben. Daten auf der unserer Warteliste für Jugendgruppen werden ohne Frist gespeichert und auf Nachfrage bei <a href="mailto:anmeldung.jdav@alpenverein-heidelberg.de">anmeldung.jdav@alpenverein-heidelberg.de</a> gelöscht werden.
</p>

<h3>7. Das geschieht, wenn Sie Downloads vornehmen:</h3>

<p>
Auf unserer Internetseite sind Download-Angebote eingestellt. Nimmt ein Nutzer einen Download vor, so werden Daten an uns übermittelt und gespeichert. Diese Daten sind:
</p>

<p>
<ul>
    <li>Ihre IP-Adresse,</li>
    <li>Datum und Uhrzeit der Registrierung</li>
</ul>
</p>

<p>
Rechtsgrundlage für diese Speicherung ist Art. 6 Abs. 1 lit. f. DSGVO.
</p>

<p>
Die gespeicherten Daten werden mit Ende des Besuchs unserer Website gelöscht.
</p>

<h3>8. Ihre Betroffenenrechte:</h3>

<p>
Sie haben das Recht:
</p>

<p>
<ul>
    <li>
    gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten Daten zu erlangen. Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling und ggfs. aussagekräftigen Informationen zu deren Einzelheiten verlangen;
    </li>
    <li>
    gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen;
    </li>
    <li>
    gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist;
    </li>
    <li>
    gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber deren Löschung ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben.
    </li>
    <li>
    gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu verlangen;
    </li>
    <li>
    gemäß Art. 7 Abs. 3 DSGVO Ihre einmal erteilte Einwilligung jederzeit gegenüber uns zu widerrufen. Dies hat zur Folge, dass wir die Datenverarbeitung, die auf dieser Einwilligung beruhte, für die Zukunft nicht mehr fortführen dürfen und
    </li>
    <li>
    gemäß Art. 77 DSGVO sich bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich hierfür an die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Vereinssitzes wenden.
    </li>
</ul>
</p>

<h3>9. Ihre Widerspruchsrechte:</h3>

<p>
Sofern Ihre personenbezogenen Daten auf Grundlage von berechtigten Interessen gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO verarbeitet werden, haben Sie das Recht, gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten einzulegen, soweit dafür Gründe vorliegen, die sich aus Ihrer besonderen Situation ergeben oder sich der Widerspruch gegen Direktwerbung richtet. Im letzten Fall haben Sie ein generelles Widerspruchsrecht, das ohne Angabe einer besonderen Situation von uns umgesetzt wird.
</p>

<p>
Möchten Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch machen, genügt eine Email an
<a href="mailto:jugend@alpenverein-heidelberg.de">jugend@alpenverein-heidelberg.de</a> oder
<a href="mailto:geschaeftsstelle@alpenverein-heidelberg.de">geschaeftsstelle@alpenverein-heidelberg.de</a>.
</p>

<h3>10. Die Sicherheit Ihrer Daten:</h3>

<p>
Wir bedienen uns geeigneter technischer und organisatorischer Sicherheitsmaßnahmen, um Ihre Daten gegen zufällige oder vorsätzliche Manipulationen, teilweisen oder vollständigen Verlust, Zerstörung oder gegen den unbefugten Zugriff Dritter zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert.
</p>

<h3>11. Aktualität und Änderung dieser Datenschutzerklärung</h3>

<p>
Diese Datenschutzerklärung ist aktuell gültig und hat den Stand November 2024.
</p>

<p>
Durch die Weiterentwicklung unserer Website und Angebote darüber oder aufgrund geänderter gesetzlicher beziehungsweise behördlicher Vorgaben kann es notwendig werden, diese Datenschutzerklärung zu ändern. Die jeweils aktuelle Datenschutzerklärung kann jederzeit auf der Website unter
<a href="https://www.jdav-hd.de/impressum#datenschutz">www.jdav-hd.de/impressum#datenschutz</a> von Ihnen aufgerufen und falls gewünscht ausgedruckt werden.
</p>

{% endblock %}
