{% extends "startpage/base.html" %}
{% load static common %}

{% block title %}
Startseite
{% endblock %}

{% block content %}

<div class="row">
    <div class="column">
        <h2>Herzlich Willkommen</h2>
        <p>
            Herzlich Willkommen auf unserer Webseite. Hier finden Sie alle
            Informationen über die jdav {% settings_value 'SEKTION' %}. Viel Spaß beim Surfen!
        </p>
    </div>
    <div class="column">
        <h2>Aktuelles</h2>
        <ul>
        {% for post in recent_posts %}
        <li>
            <a href="{% url 'startpage:post' section_name='aktuelles' post_name=post.urlname %}">{{ post.title }}</a> <i>vom {{ post.date }}</i>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="column" style="width: 100%">
    <h2>Berichte</h2>
    <ul>
    {% for post in reports %}
    <li>
        <a href="{% url 'startpage:post' section_name='berichte' post_name=post.urlname %}">{{ post.title }}</a> <i>vom {{ post.date }}</i>
    </li>
    {% endfor %}
    </ul>
    </div>
</div>

{% endblock %}
