{% load static %}

<div class="people">
    <div class="grid-container">
        {% for member in people %}
        <div class="grid-item">
            <div class="portrait">
                {% if member.image %}
                <img src="{{member.image.url}}">
                {% else %}
                <img src="{% static 'startpage/img/placeholder.svg' %}">
                {% endif %}
                <div class="namebox">
                    <div class="name">{{ member.name }}</div>
                    {% if member.extra %}
                    <div class="extra">{{ member.extra }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
