/* This is the extension of the base.css file. If you need to change anything in the base.css
 * copy the extract inside this file and do your changes.
 *
 * To change the global colors, edit the colors.css file */
@import url('colors.css');

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:focus, a:hover {
    color: var(--link-hover);
}

#user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: var(--link-hover);
    color: var(--link-hover);
}

/* HEADER */

#header {
    width: auto;
    height: 40px;
    padding: 10px 40px;
    background: var(--primary);
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: var(--text-light);
} 
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: var(--text-light);
}

#logo {
    float: left;
    margin: 0 20px 0 0;
    display: block;
    width: 128px;
    height: auto;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: var(--primary-dark);
    color: var(--text-light);
}

/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--primary-dark);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: var(--text-light);
    cursor: pointer;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: var(--primary-dark);
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: var(--primary-dark);
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: var(--primary-dark);
}

/* BREADCRUMBS */

div.breadcrumbs {
    background: var(--primary-dark);
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: var(--link-dark);
    text-align: left;
}

div.breadcrumbs a {
    color: var(--text-light);
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: var(--link-hover);
}

/* OBJECT TOOLS */

.object-tools a:focus, .object-tools a:hover {
    background-color: var(--primary-dark);
}
