#documentation-link, #documentation-link:visited {
    position: absolute;
    top: 11px;
    right: 205px;
    z-index: 4;
    display: inline-block;
    border: 1px solid #BADCD4;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px 0 14px;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
}

#documentation-link:hover, #documentation-link:focus {
    background-color: #4f8580;
    border-color: transparent;
    color: #eff6f5;
}

#documentation-link .icon-question {
    color: #47bac1;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 4px;
}

#documentation-link:hover .icon-question,
#documentation-link:focus .icon-question {
    color: #eff6f5;
}

span.statement-unsubmitted, span.statement-submitted, span.statement-confirmed {
    color: black;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
}

span.statement-submitted {
    background-color: #e8e8bd;
    color: black;
}

span.statement-unsubmitted {
    background-color: #f0dada;
    color: black;
}

span.statement-confirmed {
    background-color: #e0eec5;
    color: black;
}
