span.statement-unsubmitted, span.statement-submitted, span.statement-confirmed {
    color: black;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
}

span.statement-submitted {
    background-color: #e8e8bd;
    color: black;
}

span.statement-unsubmitted {
    background-color: #f0dada;
    color: black;
}

span.statement-confirmed {
    background-color: #e0eec5;
    color: black;
}
