{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}
{% load overview_extras %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} invite-waiter
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' statement.pk|admin_urlquote %}">{{ statement|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Submit' %}
</div>
{% endblock %}

{% block content %}
<h2>{% translate "Submit to the finance department" %}</h2>
<p>{% translate "Please check if all expenses are documented correctly and if all payers have a valid account code." %}</p>
<table>
    <th>
        <td>{% trans "Explanation" %}</td>
        <td>{% trans "Amount" %}</td>
        <td>{% trans "Paid by" %}</td>
        <td>{% trans "IBAN valid" %}</td>
    </th>
    {% for bill in statement.bill_set.all %}
        <tr>
            <td>
            {{bill.short_description}}
            </td>
            <td>
            {{bill.explanation}}
            </td>
            <td>
            {{ bill.amount }}€
            </td>
            <td>
                {{ bill.paid_by.name }}
            </td>
            <td>
                {{ bill.paid_by.iban_valid|render_bool }}
            </td>
        </tr>
    {% endfor %}
</table>

<p>
{% trans "Do you want to submit the statement for further processing by the finance department? If you proceed, no further changes to the statement are possible." %}
</p>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="submit_statement">
    <input class="default" style="color: $default-link-color" type="submit" name="apply" value="{% translate 'Submit' %}">
    <a href="#" class="button cancel-link">{% translate "Cancel" %}</a>
</form>
{% endblock %}
