{% extends "admin/extra_view.html" %}
{% load i18n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} admin-view{% endblock %}

{% block content %}
<h2>{% translate "Unconfirm statement" %}</h2>

<p>
{% blocktrans %}You are entering risk zone! Do you really want to manually set this statement back to unconfirmed?{% endblocktrans %}
</p>

<form action="" method="post">
    {% csrf_token %}
    <p>
    <input type="checkbox" required>
    {% blocktrans %}I am aware that this is not a standard procedure and this might cause data integrity issues.{% endblocktrans %}
    </p>
    <input class="default danger" type="submit" name="unconfirm" value="{% translate 'Unconfirm' %}">
    <a class="button cancel-link" href="{% add_preserved_filters change_url %}">{% trans 'Cancel' %}</a>
</form>
{% endblock %}
