.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 15px;
}

.people .grid-item {
    display: inline-grid;
}

.portrait {
    max-width: 200pt;
    transition: transform .2s;
    line-height: 1;
    /*height: 240pt;*/
}

.portrait img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    height: 200pt;
    display: block;
    object-fit: cover;
}

.portrait .namebox {
    background-color: rgba(87,171,39,1.0);
    margin: 0;
    padding: 10pt;
    text-align: center;
    width: 100%;
    color: white;
}

.portrait .namebox .name {
    font-size: 12pt;
    text-align: center;
    font-weight: 700;
    height: 30pt;
}

.portrait .namebox .extra {
    font-size: 11pt;
    text-align: center;
    height: 10pt;
}

.portrait:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: scale(1.02);
}
