.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
}

.people .grid-item {
    display: inline-grid;
}

.portrait {
    transition: transform .2s;
    line-height: 1;
}

.portrait img {
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 250px;
    display: block;
    object-fit: cover;
}

.portrait .namebox {
    background-color: rgba(87,171,39,1.0);
    margin: 0;
    padding: 15px;
    text-align: center;
    color: white;
}

.portrait .namebox .name {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.portrait .namebox .extra {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

.portrait:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: scale(1.02);
}
