{% extends "admin/change_form_object_tools.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}

<li>
    <form method="post" action="{% url 'admin:members_membernotelist_action' original.pk %}" target="_blank">
        {% csrf_token %}
        <input type="submit" name="crisis_list" value="{% trans 'Generate crisis intervention list' %}">
    </form>
</li>

<li>
    <form method="post" action="{% url 'admin:members_membernotelist_action' original.pk %}" target="_blank">
        {% csrf_token %}
        <input type="submit" name="summary" value="{% trans 'Generate PDF summary' %}">
    </form>
</li>

{{block.super}}

{% endblock %}
