{% load i18n %}

<head>
	<title>
		Ludwigsburg Alpin Terminverwaltung
	</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
      $( ".datepicker" ).datepicker({
        dateFormat: "dd.mm.yy" 
      });
  } );
  </script>
</head>

<p><b>Hier kannst Du Deinen Termin eintragen, pass bitte auf, weil danach kannst Du ihn nicht mehr ändern</b></p>

{% if error_message %}
	<p><b>{{ error_message }}</b></p>
{% endif %}

<form action="" method="post">
    <table>
	{% csrf_token %}
    {{ form }}
    <tr><td><input type="submit" value="Abschicken"/></td></tr>
    </table>
</form>
